[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sanghyunKim
[access "refs/for/refs/*"]
	read = group user/sanghyunKim
	push = group user/sanghyunKim
	label-Code-Review = -2..+2 group user/sanghyunKim
	label-Verified = -1..+1 group user/sanghyunKim
	rebase = group user/sanghyunKim
	removeReviewer = group user/sanghyunKim
	submit = group user/sanghyunKim
[access "refs/heads/*"]
	read = group user/sanghyunKim
	create = group user/sanghyunKim
	push = +force group user/sanghyunKim
	pushMerge = group user/sanghyunKim
[access "refs/tags/*"]
	push = +force group user/sanghyunKim
	pushTag = group user/sanghyunKim
	pushSignedTag = group user/sanghyunKim
